[submodule "OS_Communication"]
	path = OS_Communication
	url = git@bitbucket.org:dot-home/os_communication.git
	branch = master
[submodule "OS_ErrorDebouncer"]
	path = OS_ErrorDebouncer
	url = git@bitbucket.org:dot-home/os_errordebouncer.git
[submodule "OS_ErrorHandling"]
	path = OS_ErrorHandling
	url = git@bitbucket.org:dot-home/os_errorhandling.git
[submodule "OS_EventManager"]
	path = OS_EventManager
	url = git@bitbucket.org:dot-home/os_eventmanager.git
[submodule "OS_Flash"]
	path = OS_Flash
	url = git@bitbucket.org:dot-home/os_flash.git
[submodule "OS_SelfTest"]
	path = OS_SelfTest
	url = git@bitbucket.org:dot-home/os_selftest.git
[submodule "OS_StateManager"]
	path = OS_StateManager
	url = git@bitbucket.org:dot-home/os_statemanager.git
[submodule "OS_SystemFaults"]
	path = OS_SystemFaults
	url = git@bitbucket.org:dot-home/os_systemfaults.git
[submodule "OS_SystemTimers"]
	path = OS_SystemTimers
	url = git@bitbucket.org:dot-home/os_systemtimers.git
[submodule "OS_CRC"]
	path = OS_CRC
	url = git@bitbucket.org:dot-home/os_crc.git
[submodule "BaseTypes"]
	path = BaseTypes
	url = git@bitbucket.org:dot-home/basetypes.git
[submodule "OS_States"]
	path = OS_States
	url = git@bitbucket.org:dot-home/os_states.git
